{% extends "sources/base_source.html" %}
{% load thumbnail %}
{% load common_tags %}

{% block title %}Upload Images | CoralNet{% endblock %}

{% block js-includes %}
    {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
    {% include "static-local-include.html" with type="css" path="css/uploadForm.css" %}
    {% include "static-local-include.html" with type="js" path="js/UploadImagesHelper.js" %}
{% endblock %}

{% block content %}

  <div class="tool-heading">
    <span>Upload Images</span>
    <div class="tutorial-message">
      {% include 'upload/upload_images_help.html' %}
    </div>
  </div>

  <div class="narrow_column">

    <div class="page-section" id="auto_generate_points_page_section">
      <span class="helptext">{{ auto_generate_points_message|linebreaksbr }}</span>
    </div>

    {% include 'upload/upload_images_main_elements.html' with images_form=images_form %}

  </div>

  <!-- Script in the body will run on page load. -->
  <script type="text/javascript">
    UploadImagesHelper.init({
        uploadPreviewUrl: "{% url 'upload_images_preview_ajax' source.id %}",
        uploadStartUrl: "{% url 'upload_images_ajax' source.id %}"
    });
  </script>

{% endblock %}
