<div class="article-body">

  <p>To see how CoralNet is doing overall with processing jobs, check out the <a href="{% url 'jobs:status' %}">sitewide status page</a>. (There is also a link to this page on the site's footer.)</p>

  <p>Types of jobs:</p>
  
  <ul>
    <li>
      <strong>Check source:</strong> Checks whether it's time to schedule more feature-extract, training, or classification jobs for the source. The general strategy this job uses is:
      
      <ul>
        <li>First extract features for all images.</li>
        <li>Then check if the criteria are met for a new training job.</li>
        <li>Then make sure all non-confirmed images are classified with the selected classifier.</li>
      </ul>
      
      CoralNet makes its best effort to schedule source checks at appropriate times, but in some cases you may have to request a source check yourself. As long as no other jobs are running or pending in the source, you should see a "Run a source check" button near the top of this page.
    </li>
    <li>
      <strong>Extract features:</strong> A pre-processing step that must be run for every image, before that image can be classified or used for training a classifier.
    </li>
    <li>
      <strong>Train classifier:</strong> Trains a new classifier for the source, using all the confirmed and feature-extracted images in the source up to that point. The new classifier may or may not be saved, depending on how the evaluation results compare to the source's previous classifier.
    </li>
    <li>
      <strong>Classify:</strong> Classifies an image, using the source's selected classifier.
    </li>
    <li>
      <strong>Reset classifiers for source:</strong> Clear all previous saved classifiers for the source. Certain changes, such as changing the source's labelset, will result in this job being scheduled.
    </li>
    <li>
      <strong>Reset features for source:</strong> Clear all previous saved extracted features for the source. Changing the source's feature-extractor setting results in this job being scheduled (unless no feature extractions have been done yet).
    </li>
  </ul>
  
  <p>Some jobs will have * or ^ next to the job type.</p>
  
  <ul>
    <li>
      * indicates that the job record will persist beyond 30 days. For example, this is used for successful training jobs, because those job records can be useful for the source's longer-term bookkeeping.
    </li>
    <li>
      ^ indicates that the job record is hidden when using the default filter settings. Check the "Show hidden jobs" checkbox to show these jobs. This usually applies to source-check jobs which did not result in any progress made, since source checks can occur frequently enough that they significantly clutter up the job list. Occasionally, ^ may also be used for older jobs when a server update changes how some of the jobs work. 
    </li>
  </ul>

</div>
