<form action="" method="get" class="no-padding">
  <div class="center-box-wrapper">
    <div class="form-box">
      {{ job_search_form }}

      <div class="submit_button_wrapper_center">
        <input type="submit" value="Apply filters">
      </div>
    </div>
  </div>
</form>

{% if search_error %}

  <div class="line">{{ search_error }}</div>

{% elif job_table %}

  <div class="line">
    <strong>Job counts:</strong> {% include 'jobs/job_summary_line.html' %}
  </div>

  {% include 'pagination_links.html' with page_results=page_results query_string=query_string no_result_count_line="true" %}

  <table class="generic" id="job-table">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Type</th>
        {% if has_source_column %}
          <th class="tooltip" title="Source the job applies to">Source</th>
        {% endif %}
        <th class="tooltip" title="Image ID or anything else relevant to this job">Other ID</th>
        <th>Status</th>
        <th class="tooltip" title="Notes about the result, or error message if the job failed">Detail</th>
        <th>Scheduled start date</th>
        <th class="tooltip" title="Time until start, time since completion, etc.; * means the record will stay after {{ job_max_days }} days">Timing info</th>
      </tr>
    </thead>
    <tbody>
      {% for job_entry in job_table %}
        <tr class="{{ job_entry.status }}">
          <td>{{ job_entry.id }}</td>
          <td>{{ job_entry.job_type }}</td>
          {% if has_source_column %}
            <td class="source">
              {% if job_entry.source_id %}
                <a href="{% url 'jobs:source_job_list' job_entry.source_id %}">
                  {{ job_entry.source_name }}
                </a>
              {% endif %}
            </td>
          {% endif %}
          <td>
            {% if job_entry.image_id %}
              <a href="{% url 'image_detail' job_entry.image_id %}">
                Image {{ job_entry.image_id }}
              </a>
            {% elif job_entry.api_job_unit_id %}
              <a href="{% url 'api_management:job_detail' job_entry.api_job_id %}">
                API unit {{ job_entry.api_job_unit_id }}
              </a>
            {% endif %}
          </td>
          <td>{{ job_entry.status_display }}</td>
          <td class="detail">{{ job_entry.result_message|linebreaksbr }}</td>
          <td>
            {% if job_entry.scheduled_start_or_start_date %}
              {{ job_entry.scheduled_start_or_start_date }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if job_entry.status == 'pending' %}

              {% if not job_entry.scheduled_start_date %}

                <span
                  class="tooltip"  
                  title="Created: {{ job_entry.create_date }}"
                >
                  Created {{ job_entry.create_date|timesince:now }} ago
                </span>

              {% elif now < job_entry.scheduled_start_date %}

                <span>
                  {{ job_entry.scheduled_start_date|timeuntil:now }} until scheduled start
                </span>

              {% else %}

                <span>
                  Waited for {{ job_entry.scheduled_start_date|timesince:now }} so far
                </span>

              {% endif %}

            {% elif job_entry.status == 'in_progress' %}

              <span
                class="tooltip"
                title="Started: {{ job_entry.start_date }}"
              >
                Started {{ job_entry.start_date|timesince:now }} ago
              </span>

            {% else %}

              {# 'completed' #}

              <span 
                class="tooltip" 
                title="Completed {{ job_entry.modify_date }}, {{ job_entry.scheduled_start_or_start_date|timesince:job_entry.modify_date }} after scheduled start"
              >
                Completed {{ job_entry.modify_date|timesince:now }} ago
                {% if job_entry.persist %} * {% endif %}
              </span>

            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'pagination_links.html' with page_results=page_results query_string=query_string %}

  <div class="line">Most job records are cleaned up after approximately {{ job_max_days }} days, except for jobs with * in Timing info.</div>

{% else %}

  <div class="line">(No jobs found)</div>

  <div class="line">Most job records are cleaned up after approximately {{ job_max_days }} days.</div>

{% endif %}
