{% extends "sources/base_source.html" %}

{% block title %}Jobs for {{ source.name }} | CoralNet{% endblock %}


{% block css-includes %}
  {{ block.super }}
  {% include "static-local-include.html" with type="css" path="css/jobs.css" %}
{% endblock %}

{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}


{% block content %}

<div class="tool-heading">
  <span>Jobs</span>
  <div class="tutorial-message">
    {% include 'jobs/help_source_job_list.html' %}
  </div>
</div>

<div class="line" id="latest-check-status">
  {% if latest_check %}
    <strong>Latest source check result:</strong>
    {{ latest_check.result_message }}
    ({{ latest_check.modify_date }})
  {% else %}
    This source hasn't been status-checked recently.
  {% endif %}
</div>

<div class="line" id="incomplete-check-status">
  {% if incomplete_check %}
    {% if incomplete_check.status == JobStatus.PENDING %}
      There is a source check scheduled to run soon.
    {% else %}
      {# IN_PROGRESS #}
      There is a source check running right now.
    {% endif %}
  {% elif not is_doing_any_job %}
    <form 
      method="post" 
      action="{% url 'request_source_check' source.id %}"
      class="no-padding"
    >
      {% csrf_token %}
      There are no active jobs.
      <button>Run a source check</button>
    </form>
  {% endif %}
</div>

{% include 'jobs/job_table.html' %}

{% endblock %}
