{% extends "base.html" %}


{% block css-code %}
<style>
tr.source-row.caught_up {
  background-color: var(--status-color-done);
}
tr.source-row.needs_processing {
  background-color: var(--status-color-in-progress);
}
tr.source-row.unchecked {
  /* No color */
}
</style>
{% endblock %}


{% block content %}

<table class="detail_table" id="image-counts-table">
  <thead>
    <tr>
      <th>Image status</th>
      <th>Image count</th>
      <th>Percent of total</th>
    </tr>
  </thead>
  <tbody>
    {% for row in image_stats %}
      <tr>
        {% for cell in row %}
          <td>{{ cell }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="line">
  * = Images that need reclassification with an updated classifier are part of 'Unconfirmed'.
</div>

<div class="line">
  There are {{clf_stats.nclassifiers}} trained classifiers out of which {{clf_stats.nacceptedclassifiers}} are accepted. This means there are on average {{clf_stats.accepted_ratio}} accepted classifiers per each of the {{clf_stats.nsources}} sources.
</div>

<br><br>

<h2>Sources</h2>

<table class="generic" id="sources-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th># Imgs</th>
      <th># Conf.</th>
      <th># In clf</th>
      <th>Last check</th>
    </tr>
  </thead>
  <tbody>
    {% for source in page_sources %}
      <tr class="source-row {{ source.status }}">
        <td>
          <a href="{% url 'source_main' source.pk %}">{{ source.pk }}</a>
        </td>
        <td>
          <span title="{{ source.name }}">
            {{ source.name|truncatechars:40 }}
          </span>
        </td>
        <td>{{ source.image_count }}</td>
        <td>{{ source.confirmed_image_count }}</td>
        <td>{{ source.classifier_image_count }}</td>
        <td>{{ source.check_message }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination_links.html' with page_results=page_results %}

{% endblock %}