{% include 'calcification/grid_of_tables.html' with global_calcification_tables=global_calcification_tables source_calcification_tables=source_calcification_tables %}

{% if can_manage_source_data %}
  <div class="line">
    <button id="new-rate-table-form-show-button">+ Upload a custom table</button>
  </div>
{% endif %}


{# Modal dialog contents live in this hidden element until they're needed. #}
<div hidden>
  <div id="new-rate-table-form-popup">
    <div class="line">
      If you want to create a custom rate table for this source, we recommend you start off with a template table by clicking the "Download CSV (labelset entries only)" button next to one of the default tables.
    </div>

    <form id="new-rate-table-form"
      action="{% url 'calcification:rate_table_upload_ajax' source.pk %}"
      method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% for field in calcify_table_form %}
        <div class="line">
          {% if field.field.required %}
            <span style="color:red;">
              *
            </span>
          {% endif %}

          {{ field.label }}: {{ field }}
        </div>

        {% if field.help_text %}
          <div class="helptext_small">
            {{ field.help_text|safe|linebreaksbr }}</div>
        {% endif %}
      {% endfor %}

      {# This status element is for error messages, etc. #}
      <div class="line" id="new-rate-table-form-status" style="font-weight: bold;"></div>

      <input type="submit" value="Upload Table" />
    </form>
  </div>
</div>
