
html {
    /*
    This SHOULD only affect navigation to headers on the page.
    And it should only take effect when the browser settings leave
    smooth scrolling enabled. (Which is good, since people who are
    annoyed or disoriented by smooth scrolling should be able to turn
    it off.)
    */
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1, h2 {
    /*
    When scrolling to a header, aim a little bit above the header
    so that the top of the header isn't right at the edge of the
    viewport.
    */
    scroll-margin-top: 40px;
}

div#indexes {
    display: flex;
    justify-content: center;
}
div#indexes a {
    margin: 15px;
}

.back-to-top-arrow {
    text-align: right;
    border-bottom: 1px solid var(--faint-hr-color);
}
