{% extends "sources/base_source.html" %}
{% load static %}

{% block title %}Edit Source ({{ source.name }}) | CoralNet{% endblock %}

{% block content %}

  <legend>Edit Source</legend>

  <div class="narrow_column">
    <div class="page-section">

      <form action="" method="post" id="source-form" class="no-padding">
        {% csrf_token %}

        {{ edit_source_form }}

        <div>
          <input type="submit" class="red" value="Save Changes" />
        </div>
      </form>

      <form action="{% url 'source_edit_cancel' source.pk %}" method="get" class="no-padding">
        <div>
          <input type="submit" class="red" value="Cancel Changes" />
        </div>
      </form>

    </div>
  </div>

  {# Javascript will be used to 1) move this element into the appropriate part of the form, and 2) toggle its visibility. #}
  <div class="helptext_long" id="feature-extractor-change-warning" hidden>
    WARNING: The feature extractor has been changed. If you save this change, this source's entire classifier history will be deleted, and a new classifier will be generated.
  </div>

  {# Script in the body will run on page load. #}

  <script type="module">
    import MultiValueFieldHelper from "{% static 'js/MultiValueFieldHelper.js' %}";
    let sourceForm = document.getElementById('source-form');
    MultiValueFieldHelper.setUpFieldBasedVisibility(sourceForm);

    import SourceFormHelper from "{% static 'js/SourceFormHelper.js' %}";
    let sourceFormHelper = new SourceFormHelper();
  </script>

{% endblock %}
