{% extends "base.html" %}
{% load static %}

{% block title %}New Source | CoralNet{% endblock %}

{% block content %}

  <legend>Create a New Source</legend>
  <p>If you're not sure how to get started here, consider viewing our <a href="https://vimeo.com/104152471">Source setup tutorial</a> on Vimeo.</p>

  <div class="narrow_column">
    <div class="page-section">

      <form action="" method="post" id="source-form" class="no-padding">
        {% csrf_token %}

        {{ source_form }}

        <div>
          <input type="submit" class="red" value="Create Source" />
        </div>
      </form>

    </div>
  </div>

  {# Script in the body will run on page load. #}

  <script type="module">
    import MultiValueFieldHelper from "{% static 'js/MultiValueFieldHelper.js' %}";
    let sourceForm = document.getElementById('source-form');
    MultiValueFieldHelper.setUpFieldBasedVisibility(sourceForm);
  </script>

{% endblock %}
