{% extends "sources/base_source.html" %}
{% load guardian_tags %}
{% load thumbnail %}
{% load markdown_to_html %}

{% block title %}{{ source.name }} | CoralNet{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/highcharts.js" %}
{% endblock %}

{% block content %}

  {% get_obj_perms user for source as "source_perms" %}

  <div id="images">
    {% if latest_images %}
      {% for image in latest_images %}
        <span class="thumb_large_wrapper">
          <a href="{% url 'image_detail' image.id %}">
            <img class="thumb_small"
                 src="{% thumbnail image.original_file 300x300 %}"
                 title="{{ image.get_image_element_title }}"/>
          </a>
        </span>
      {% endfor %}
    {% endif %}
  </div>

  <div id="main-grid">

    <div class="detail-box" id="description-box">
      <h4 class="left">Description</h4>
      {{ source.description | linebreaksbr }}
    </div>

    <div id="right-column">
      <div class="detail-box">
        <h4>Image Status</h4>

        <table class="detail_box_table">
          <tr><td>Unclassified:
            <a href="{{ image_stats.unclassified_link }}">
              {{ image_stats.unclassified }}</a></td></tr>

          <tr><td>Unconfirmed:
            <a href="{{ image_stats.unconfirmed_link }}">
              {{ image_stats.unconfirmed }}</a></td></tr>

          <tr><td>Confirmed:
            <a href="{{ image_stats.confirmed_link }}">
              {{ image_stats.confirmed }}</a></td></tr>

          <tr><td>Total images:
            <a href="{{ image_stats.total_link }}">
              {{ image_stats.total }}</a></td></tr>
        </table>
      </div>

      <div class="detail-box small-text">
        <h4>Details</h4>
        {% comment %}
        The idea with the markup/styling here is that each value can be either:
        - Entirely on the same line as the label (which saves room), or
        - Entirely on line(s) after the label's line
        But never on both the label's line and different line(s), since that
        makes for poorer visual separation.
        {% endcomment %}
        <ul class="flexible-details">
          <li>
            <span>Visibility:</span>
            <span>{{ source.get_visibility_display }}</span>
          </li>
          <li>
            <span>Point generation method:</span>
            <span>{{ source.point_gen_method_display }}</span>
          </li>
          <li>
            <span>Default image annotation area:</span>
            <span>{{ source.annotation_area_display }}</span>
          </li>
          {% if source.latitude and source.longitude %}
            <li>
              <span>Latitude & Longitude:</span>
              <span>
                {{ source.latitude|slice:":8" }},
                {{ source.longitude|slice:":8" }}
              </span>
            </li>
          {% endif %}
          <li>
            <span>Created:</span>
            <span>{{ source.create_date|date }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="detail-box" id="members-column">
      <h4>Affiliation & Members</h4>

      <div class="center">{{ source.affiliation }}</div>

      <table>
        <tbody>
          {% for member in members %}
            <tr>
              <td class="username">
                <a href="{% url 'profile_detail' member.pk %}">{{ member.username }}</a>
              </td>
              <td><strong>{{ member.role }}</strong></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="backend-column">
      {% if classifier_plot_data %}
        <div id="acc-overview"></div>
      {% endif %}

      <div class="detail-box clear">
        {% if not classifier_plot_data %}
          <h4 class="left">Classifier</h4>
        {% endif %}

        <ul>
          {% for key, value in classifier_details %}
            <li>{{ key }}: {{ value|safe }}</li>
          {% endfor %}

          {% if source.trains_own_classifiers %}
            {% if "source_edit" in source_perms %}
              <li>
                To see backend-job status,
                <a href="{% url 'jobs:source_job_list' source.id %}">go here</a>.
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

  {% comment %}
  Uncomment and rework this events section when we start using events.

  <div style="float:left; width:100%;">
    <div class="detail-box">
      <h3>Events</h3>
      <table class="detail_table_scroll">
        {% for news in news_items %}
          <tr>
            <td> <a href="{% url 'newsfeed_details' news.id %}">{{news.datetime}}</a></td>
            <td> {{ news.message|markdown_to_html }} </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endcomment %}

  <script>
    let classifierPlotData = {{classifier_plot_data | safe}};

    if (classifierPlotData.length > 0) {

        let chart1 = new Highcharts.Chart({
            chart: {
                renderTo: 'acc-overview',
                type: 'line',
            },
            title: {
                text: 'Classifier overview'
            },
            xAxis: {
                title: {
                    text: 'Version'
                },
            },
            yAxis: {
                title: {
                    text: 'Accuracy (%)'
                },
            },
            tooltip: {
                formatter: function () {
                    return 'Classifier nbr: ' + this.point.x + "<br>" +
                        'Accuracy: ' + this.point.y + " %<br>" +
                        'Trained on: ' + this.point.nimages + ' images<br>' +
                        'Date: ' + this.point.date + '<br>' +
                        'Traintime: ' + this.point.traintime + '<br>' +
                        'Global id: ' + this.point.pk;
                }
            },
            series: [{
                showInLegend: false,
                name: 'Acc (%)',
                data: classifierPlotData,
            }]
        });
    }
  </script>

{% endblock %}
