{% extends "sources/base_source.html" %}
{% load static %}
{% load get_obj_perms from guardian_tags %}
{% load async_media_batch_key patch_async from async_media_tags %}

{% block title %}{{ source.name }} - Browse Patches | CoralNet{% endblock %}
{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="css" path="css/browse.css" %}
{% endblock %}

{% block content %}

  <div class="tool-heading">
    <span>Browse Patches</span>
    <div class="tutorial-message">
      {% include 'visualization/help_browse.html' %}
    </div>
  </div>

  {# Search form #}
  {% include "visualization/browse_search_form.html" with form=patch_search_form %}

  {% if page_results.paginator.count == 0 %}
    {{ empty_message }}
  {% else %}

    {% get_obj_perms user for source as 'source_perms' %}
    {% async_media_batch_key request as media_batch_key %}

    {# Grid of patches #}
    {% for annotation in page_results.object_list %}
    {% with point=annotation.point %}
      {% patch_async point media_batch_key request as patch_dict %}

      <span class="thumb_wrapper">
        {% if 'source_edit' in source_perms %}
        <a href="{% url 'annotation_tool' point.image.pk %}">
        {% else %}
        <a href="{% url 'image_detail' point.image.pk %}">
        {% endif %}

          <img
            class="thumb media-async"
            src="{{ patch_dict.src }}"
            data-media-batch-key="{{ media_batch_key }}"
            data-media-key="{{ patch_dict.media_key }}"
            title="Point {{ point.point_number }} ({{ point.column }},{{ point.row }}) in: {{ point.image.get_image_element_title }}"
            alt="Point patch"
          />
        </a>
      </span>
    {% endwith %}
    {% endfor %}

    {# Pagination info and links #}
    {% include 'pagination_links.html' with use_post_form=True hidden_form=hidden_filter_form page_results=page_results %}
  {% endif %}

  {# Script in the body will run on page load. #}
  <script type="module">
    import MultiValueFieldHelper from "{% static 'js/MultiValueFieldHelper.js' %}";
    MultiValueFieldHelper.setUpFieldBasedVisibility(
        document.getElementById('search-form'));
  </script>

{% endblock %}
