{% extends "sources/base_source.html" %}
{% load static %}
{% load async_media_batch_key thumbnail_async from async_media_tags %}
{% load jsonify from common_tags %}

{% block title %}{{ source.name }} - Browse Images | CoralNet{% endblock %}
{% block js-includes %}
  {% include "javascript-includes.html" with jquery_ui="yes" %}
{% endblock %}

{% block page-specific-includes %}
  {% include "static-local-include.html" with type="js" path="js/BrowseActionHelper.js" %}
  {% include "static-local-include.html" with type="js" path="js/CalcifyTablesHelper.js" %}

  {% include "static-local-include.html" with type="css" path="css/browse.css" %}
{% endblock %}

{% block content %}

  <div class="tool-heading">
    <span>Browse Images</span>
    <div class="tutorial-message">
      {% include 'visualization/help_browse.html' %}
    </div>
  </div>

  {# Search form #}
  {% include "visualization/browse_search_form.html" with form=image_search_form %}

  {% if page_results.paginator.count == 0 %}
    {{ empty_message }}
  {% else %}

    {% async_media_batch_key request as media_batch_key %}

    {# Grid of images #}
    {% for image in page_results.object_list %}
      {% thumbnail_async image.original_file '150x150' media_batch_key request as thumb_dict %}

      <span class="thumb_wrapper">
        <a href="{% url 'image_detail' image.pk %}">
          <img
            class="thumb {{ image.annoinfo.status }} media-async"
            src="{{ thumb_dict.src }}"
            data-media-batch-key="{{ media_batch_key }}"
            data-media-key="{{ thumb_dict.media_key }}"
            title="{{ image.get_image_element_title }} - {{ image.annoinfo.status_display }}"
            alt="{{ image.get_image_element_title }}"
          />
        </a>
      </span>
    {% endfor %}

    {# Pagination info and links #}
    {% include 'pagination_links.html' with use_post_form=True hidden_form=hidden_image_form page_results=page_results %}

    {% if can_see_actions %}
      {% include 'visualization/browse_images_actions.html' %}
    {% else %}
      <div class="page-section">{{ no_actions_reason }}</div>
    {% endif %}

  {% endif %}

  {# Script in the body will run on page load. #}

  <script type="module">
    import MultiValueFieldHelper from "{% static 'js/MultiValueFieldHelper.js' %}";
    MultiValueFieldHelper.setUpFieldBasedVisibility(
        document.getElementById('search-form'));
  </script>

  <script type="text/javascript">
    {% if page_results.paginator.count > 0 and can_see_actions %}
      {# Action form is present. #}
      let browseActionHelper = new BrowseActionHelper(
          {{ page_image_ids|jsonify }});
      let calcifyTablesHelper = new CalcifyTablesHelper(
          {{ can_manage_source_data|jsonify }});
    {% endif %}

    window.seleniumDebugInitRan = true;
  </script>

{% endblock %}
