{% extends "base.html" %}

{% block content %}
<p>This page lists all labels that have been identified as duplicates of a verified label.</p>

<p>A duplicate label can still be used, but we encourage using the verified label instead.</p>

<p>In total, {{ duplicates|length }} duplicates have been identified, with a total of {{ annotation_total }} confirmed annotations.</p>

<table class="detail_table">
  <thead>
    <tr>
      <th>Label</th>
      <th>is duplicate of</th>
      <th>Annotation count</th>
    </tr>
  </thead>
  <tbody>
    {% for dup in duplicates %}
      <tr>
        <td><a href="{% url 'label_main' dup.id %}" style="color: green">{{ dup.name }}</a></td>
        <td><a href="{% url 'label_main' dup.duplicate_id %}" style="color: green">{{ dup.duplicate__name }}</a></td>
        <td>{{ dup.annotation_count }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}